
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Page</title>
  <%- include("partials/header.ejs"); %>
  <body>
    <h1>About</h1>

    <p> <%= content %> </p>
  </body>
  <%- include("partials/footer.ejs"); %>
 </head>
 </html>